/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 20, 2016, 1:22:30 AM
    Author     : Narapol-PC
*/

body {
    background-color: lightgreen; /* this is backgroud color , It not show*/  
/*    background-image: url("airplane2.jpe"); 
    background-image: url("airplane1.jpg"); 
    background-size: cover; */

}
body.color{
    background-color: lavender; /* this is backgroud color , It's show */  
}


h1.sansserif{
    font-family: fantasy; /* this is font-family */ 
        
}
p1{
    color: midnightblue;
    font-size: 24px;  /* this is font-size */ 
    font-family: cursive; /* this is font-family */ 
}

p2{
    color: green;
}




