/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 19, 2016, 8:37:47 PM
    Author     : Narapol-PC
*/


body {
    background-color: lightgreen; /* this is backgroud color , It not show*/  
/*    background-image: url("airplane2.jpe"); 
    background-size: cover; */

}
body.color{
    background-color: lavender; /* this is backgroud color , It's show */  
}

h1{
    text-align: center;
    font-size: 40px; /* this is font-size */ 
    
    
}
h1.sansserif{
    font-family: fantasy; /* this is font-family */ 
        
}
p{
    color: midnightblue;
    font-size: 16px;  /* this is font-size */ 
    font-family: cursive; /* this is font-family */ 
}

