<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Notifications of flight status</title>
              <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
  </style>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
         <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"/>
         <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
         <link rel="stylesheet" href="template.html" type="text/css"/>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    </head>
    <body>
        <div class="container-fluid text-center">
            <div class="row content">

                <div class="col-sm-8 text-left">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active" style="text-align: center;"><a href="#">Notifications of flight status</a></li>

                    </ul>

                    <input type="radio" name="notification1" value="noNotification"  />
                    <dt>No notifications  0.00 Baht</dt>
                    <p>I do not want to receive notifications on my flight</p>

                    <input type="radio" name="notification2" value="yesNotification" />
                    <dt> Notifications by SMS and email  10 baht</dt>
                    <p>I want to receive SMS and email notifications about my flight.</p>

                    <dt> <p>For your reservation</p></dt>
                    <input type="checkbox" name="checkbox1" value="ON" checked="checked" />
                    E-ticket is sent by SMS
                    <dt><p>about your flight</p></dt>
                    <input type="checkbox" name="checkbox2" value="ON" checked="checked" />
                    Reminder with an update 3 hours before departure
                    <br>
                    <input type="checkbox" name="checkbox3" value="ON" checked="checked" />
                    Notification if the flight is delayed more than 10 minutes
                    <br>
                    <input type="checkbox" name="checkbox4" value="ON" checked="checked" />
                    Notification if the flight is canceled
                    <br>
                    <input type="checkbox" name="checkbox5" value="ON" checked="checked"/>
                    Notification of the new gate, if it has changed
                    <br><br>
                    <dt><p>Send SMS to mobile number:</p></dt>
                    <div class="col-md-2">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">select
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">France(+33)</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Thailand(+66)</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <input id="phoneNumber" type="text" ng-model="flight.from" required autofocus>
                    </div>
                    <br><br><br>
                    <dt><p>Send to Email:</p></dt>
                    <input id="email" type="text" name="newsletterSubscriber[email]" value="" required="required" placeholder="Enter e-mail address" />
                </div>

                <div class="col-sm-2 sidenav">
                    <div class="well">
                        <div><h4>Payment information</h4></div>
                        <div> <p>Price:</p></div>
                        <div> <p>Tax:</p></div>
                        <div> <p>Service Free:</p></div>
                        <div> <p>Discount:</p></div>
                        <div class="well"> <p>Total Amount:</p></div>
                    </div>
                </div>

            </div>
        </div>
        <br>
       <div class="col-md-1">
            <button type="button" class="btn btn-default">Back</button>
            </div>
        <div class="col-md-6"></div>
            <button type="button" class="btn btn-success">Next</button>
    </body>
</html>
