<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Passenger</title>
        <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
  </style>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    </head>
    <body ng-app="myApp" ng-controller="myCtrl1">
        <div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar"
  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:30%">
    30%
  </div>
</div>
        
         <div class="container">
              <table class="table table-striped" id="myTable">
                  <thead>
                      <tr>
                          <th><h3>Flight No.</h3></th>
                          <th><h3>Airline</h3></th>
                          <th><h3>Take-off</h3></th>
                          <th><h3>Landing</h3></th>
                          <th><h3>Stops(Duration)</h3></th>
                      </tr>
                  </thead>

                  <tbody>
                      <tr>
                          <td><p1><a href="#" id="flightNo">FR 4984</a></p1></td>
                  <td><label id="airline1">Aéroport de Beauvais-Tillé (BVA)</label></td>
                  <td><label id="fromAirport1">BKK 19.05</label></td>
                  <td><label id="toAirport1">CDG 06.03</label></td>
                  <td><label id="travelTime1">1(17h 45min)</label><a href="#"> details</a>
                      <a href="a"><span class="glyphicon glyphicon-print"></span></a>
                      <a href="#"><span class="glyphicon glyphicon-envelope"></span></a>
                      <a href="#"><span class="glyphicon glyphicon-heart"></span></a>
                      <a href="#"><span class="glyphicon glyphicon-trash"></span></a></td>
                  </tbody>
                  
                  
                  
                  
              </table>
          </div>
<!--        T E S T 
    <li><a href="one-way.html" id="oneway">One-way</a></li> -->
    
        <div class="container-fluid text-center">
            <div class="row content">

                <div class="col-sm-8 text-left">
                    <hr>
                    <h3 style="text-align: center;">Passenger Information</h3>
                    <div class="container">
                        <h4>1.Adults</h4>

                        <div class="col-md-1">
                            <label class="control-label"><span class="req">Title</span>*</label>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">select
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Mr.</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Mrs.</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <label class="control-label"><span class="req">Name</span>*</label>
                            <input id="name" type="text" ng-model="flight.from" placeholder="enter a name" required autofocus>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label"><span class="req">Last Name</span>*</label>
                            <input id="lastName" type="text" ng-model="flight.to" placeholder="enter a last name" required autofocus>
                        </div>


                        <p><label for="Adults">Date of birth*</label></p>
                        <div class="col-md-1">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Day
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">3</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">4</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">5</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">6</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">7</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">8</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">9</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">11</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">12</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">13</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">14</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">15</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">16</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">17</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">18</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">19</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">20</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">21</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">22</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">23</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">24</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">25</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">26</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">27</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">28</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">29</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">30</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">31</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-1">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="menu2" data-toggle="dropdown">Month
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">January</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">February</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">March</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">April</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">May</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">June</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">August</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">September</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">October</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">November</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">December</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-1">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="menu3" data-toggle="dropdown">Year
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1991</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1992</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1993</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1994</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1995</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1996</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1997</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1998</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1999</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2000</a></li>
                                </ul>
                            </div>
                        </div>
                        <br><br>

                        <div class="col-md-2">
                            <label class="control-label"><span class="req">Passport Number</span>*</label>
                            <input id="passport" type="text" ng-model="flight.from" required autofocus>
                            <p>eg.  20 numeric characters</p>
                            <input type="checkbox" name="checkbox1" value="ON">Add to list
                        </div>

                        <div class="col-md-2">
                            <label class="control-label"><span class="req">Issuing country</span>*</label>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Please select
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Thailand</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Malaysia</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-1">
                            <p><label for="Adults">Expiration  </label></p>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Day
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">3</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">4</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">5</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">6</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">7</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">8</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">9</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">10</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">11</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">12</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">13</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">14</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">15</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">16</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">17</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">18</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">19</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">20</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">21</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">22</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">23</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">24</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">25</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">26</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">27</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">28</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">29</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">30</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">31</a></li>
                                </ul>
                            </div>
                        </div>

                        <p><label for="Adults">Date*</label></p>
                        <div class="col-md-1">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Month
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">January</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">February</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">March</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">April</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">May</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">June</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">August</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">September</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">October</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">November</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">December</a></li>
                                </ul>
                            </div>
                        </div>


                        <div class="col-md-1">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Year
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1991</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1992</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1993</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1994</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1995</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1996</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1997</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1998</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1999</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2000</a></li>
                                </ul>
                            </div>
                        </div>   

                    </div>
                </div>
                <div class="col-sm-2 sidenav">
                    <div class="well">
                        <div><h4>Payment information</h4></div>
                        <div> <p>Price:</p></div>
                        <div> <p>Tax:</p></div>
                        <div> <p>Service Free:</p></div>
                        <div> <p>Discount:</p></div>
                        <div class="well"> <p>Total Amount:</p></div>
                    </div>
                </div>
            </div>
            
          <div class="col-md-1">
            <button type="button" class="btn btn-default">Back</button>
            </div>
            <button type="button" class="btn btn-success">Next</button>
        </div>


<!--        <script>
            var app = angular.module("myApp",[]);
            app.controller("myCtrl1",function($scope)){
                from : ""
                to : ""
                
            }
        </script>-->


    </body>
</html>
